.announcement-area {
	text-align: center;
	background:@grey-light;
  	min-height: 96px;
  	padding-top: 12px;
	.carousel-inner {
		.item {
			a {
				.tdn;
				z-index: 100;
				padding:24px 0 12px 0;
				p {
					strong {
						margin-right: 0.5em;
						color:@brand-secondary;
						font-weight: 600;
					}
					span {
						color:@brand-secondary;
					}
				}
			}
		}
	}
	ol.carousel-indicators {
		z-index: 1;
		display: block;
		position: relative;
		border:0px !important;
		height: 24px;
		li{
			margin-top:24px;
			background-color: @brand-primary;
			border:0px !important;
		}
		li.active {
			background-color: @brand-primary;
			border:0px !important;
			opacity: 0.7;
		}
	}
}