.feature-area {
	.mT4.0;
	.mB4.0;
	p {
		.center;
	}
	.circle {
		border-radius: 50%;
		border:3px solid @brand-secondary;
	}
	i  {
		.center;
		color:@grey-secondary;
		font-size: 2.6em;
		padding:0.5em;
	}
	h3 {
		color: @brand-primary;
	}
}