.feature-area {
	.mB4.0;
	.excerpt {
		.mB2.0;
		h2 {
			.center;
		}
	}
	p {
		.center;
	}
	i  {
		.center;
		color:@brand-primary;
		font-size: 2.6em;
		border-radius: 50%;
		border:3px solid @brand-secondary;
		padding:0.5rem;
		padding:0.5em;
	}
	h3 {
		color: @brand-primary;
	}
}