.main-banner {
	background-color:@brand-primary;
	background:url('@{imgpath}/main-banner.jpg');
	height: auto;
	.container-fluid {
		padding:0;
	}
	h1, p.lead {
		color:#fff;
	}
	.background {
		background-color: #D3D3D3;
	}

}
