.main-banner {
	background-color:@brand-primary;
	background:url('@{imgpath}/main-banner.jpg');
	height: 530px;
	padding:18px 0px 64px 0px;
	h1, p.lead {
		color:#fff;
	}
	form {
		padding: 8px 24px 8px 24px;
		border-radius: 5px;
		background-color: rgba(255,255,255,0.9);
		background: rgba(255,255,255,0.9);
		-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
		h2 {
			.center;
			color:@brand-primary;
		}
		label {
			margin: 0px 0px 2px 0px;
		}
		input {
			margin: -16px 0px -12px 0px;
		}
		.form-group {
			margin-bottom: 0px;
		}
		.form-control {
			margin: 0px 0px 6px 0px;
		}
		span.wpcf7-not-valid-tip {
			margin: -44px 0px 0px 0px;
		}
		label {
		color:@grey-primary;
		}
	}

}
